
body{
    font-family: Arial, Helvetica, sans-serif;margin: 0;padding: 0;    
    padding-top: 56px;
} 
nav{
    font-size: 14px;
     color: #ffffff;
}
#topnav li a {
    color: #ffffff;
    margin:14px;
}
#topnav li a:hover {color: #eb5055;}


#slider{
        background-color: #eb5055;
        border-bottom: solid 8px #ea676b;
       
    
}
#iphones{padding: 80px 0 65px 0; }
#next,#prev{ margin: 20% 0 0 0 ;}
#slider::after{
        content: "";
        clear: both;
        display: table
}

        
#services{
    background-color: #f2f2f2;
    color: #666d89;
    border-bottom: solid 8px #ffffff;
    overflow: auto;
    padding: 50px 0 50px 0;
      
}
#services p {
    color:#767e9e;
    padding-left: 2px;
    font-size: 18px;
    line-height: 28px;
    text-align:  justify;
    letter-spacing:normal;
}

#thumbn{
    margin-top:  20px;
    width:inherit;
}
#thumbn img{
    width: 59px;
    height:59px;
    float: left;

}
#thumbn h4{
    padding:0;
    margin: 0;
    margin-left:62px;
}
#thumbn p{
    line-height: 2;
    margin-left:62px;
    padding:0;
    font-size: 13px;
    word-spacing: 2px;
    text-align: justify;  
}

#portfolio{  
    padding: 60px 0 40px 0 ;
    color:#666d89;
    background-color: #303441;
    border-bottom: solid 8px #373b4a;
}

#portfolio p{
    color:#767e9e;
}


#portf{
    margin-bottom: 50px;
}
#about{
    background-color: #f2f2f2;
    clear: both;
    color: #666d89;
    padding: 40px 88px 55px 88px;
    border-bottom: solid 8px #fff;
}
#about p {
   text-align: justify;
    line-height: 2;
}
#info img{
    margin-right: 40px;
    float: left;
}
#info p{
    line-height: 1;
}
#social img {
    width: 36px;
    height: 36px;
    margin: 10px;
    
}
#contact{
    background-color: #eb5055;
    color:#f0d8d9;
    padding: 40px 88px 55px 88px;
    border-bottom: solid 8px #ea676b;
}
#foot{
    background-color: #303441;
 
}
#foot p {
    color: #666d89;
    padding: 30px 0 30px 0;
}


